<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1> The WatchList.com</h1>
    <p>Your watchlist, everywhere.</p>
    <%= link_to 'Create a new list', new_list_path, class: "btn btn-success" %>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @lists.each do |list|%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <%=link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
